<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="newNote">
    <form [formGroup]="noteForm" >
      <ion-list>
        <ion-item lines="none" id="title" class="title">
          <ion-button slot="end" fill="clear"><ion-icon name="pin-sharp"></ion-icon></ion-button>
          <ion-input placeholder="Title" formControlName="title"></ion-input>
        </ion-item>
        <ion-item lines="none" id="note">
          <ion-textarea placeholder="Take a note..."  formControlName="note"></ion-textarea>
        </ion-item>
        <ion-item lines="none" class="buttons">
            <ion-button slot="end" fill="clear" color="dark">Close</ion-button>
        </ion-item> 
      </ion-list>
  
    </form>

  </div>

</ion-content>
